= stylesheet_link_tag    'charts'

.chart-wrapper
  #bar-chart

:javascript
  $(function () {

    $('#bar-chart').highcharts({
      chart: {
          type: 'bar'
      },
      credits: { enabled: false },
      title: {
          text: 'Female Engineers Percentage by Companies'
      },
      xAxis: {
          categories: gon.company_names
      },
      yAxis: {
          min: 0,
          title: {
              text: 'Female Engineers Percentage'
          }
      },
      legend: {
          reversed: true
      },
      plotOptions: {
          series: {
              stacking: 'percent'
          }
      },
      series: [{
          name: 'Male Engineers',
          data: gon.male_eng_nums
      }, {
          name: 'Female Engineers',
          data: gon.female_eng_nums
      }]
    });
  });