= stylesheet_link_tag    'charts'

.chart-wrapper
  #bar-chart

:javascript
  $(function () {

    $('#bar-chart').highcharts({
      chart: {
        type: 'bar'
      },
      colors: ['#434348', '#00A064'],
      credits: { enabled: false },
      title: {
        text: 'Female Engineers Percentage by Companies',
        x: 120
      },
      xAxis: {
        categories: gon.company_names
      },
      yAxis: [{
        min: 0,
        max: 100,
        title: {
          text: null
        },
        minTickInterval: 10,
        opposite: true,
        labels: {
          format: '{value}%'
        }
      },
      {
        min: 0,
        max: 100,
        minTickInterval: 10,
        labels: {
          format: '{value} %'
        },
        title: {
          text: 'Female/Male Engineers Distribution'
        },
        labels: {
          format: '{value}%'
        }
      }],
      tooltip: {
        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
        valueSuffix: ' engineers'
      },
      legend: {
        reversed: true,
        align: 'center',
        x: 150
      },
      plotOptions: {
        series: {
            stacking: 'percent'
        }
      },
      series: [{
        name: 'Male Engineers',
        data: gon.male_eng_nums
      }, {
        name: 'Female Engineers',
        data: gon.female_eng_nums
      }]
    });
  });
