= stylesheet_link_tag    'charts'

.splash-container
  .splash
    .pure-g
      .l-box.pure-u-1.pure-u-md-1-3.pure-u-lg-1-4
        %ul#nav-section
          %li
            %a{ href: "#", id: "pie-chart-link"}
              Female vs. Male Software Engineer Ratio
          %li
            = link_to("Female Software Engineer Around the World", {controller: "companies", action: "map"}, id: "city-chart-link")
          %li
            = link_to("Startup Roudup: Who have the most female engineers?", {controller: "companies", action: "charts"}, id: "company-chart-link")
          %li
            %a{ href: "#", id: "download-link"}
              Download the stats
      .l-box.pure-u-1.pure-u-md-2-3.pure-u-lg-3-4
        #pie-chart
        #city-chart
        #company-chart
      .l-box.pure-u-1
        %p.splash-subhead
          How many female software engineers are in your company?
        %p
          %a.pure-button.pure-button-primary{:href => "companies/new"} Add Stats
.content-wrapper
  .content
    %h2.content-head.is-center As a female in Software Engineering, I feel...
    .pure-g
      - @thoughts.each do |thought|
        .l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
          %blockquote.quotes
            = "... " + thought.thoughts
    %p
      .l-box.pure-u-1.pure-u-md-2-2.pure-u-lg-2-5
      .l-box.pure-u-1.pure-u-md-2-2.pure-u-lg-1-5
        %a.pure-button.pure-button-primary{:href => "users/new"} What's your thought?
  .content
    %h2.content-head.is-center Help to change the face of Software Engineering by share the cause
    .pure-g
      .l-box-lrg.pure-u-1.pure-u-md-1-5
      .l-box-lrg.pure-u-1.pure-u-md-3-5
        .share-links
          / need to update below code with font awesome
          %a.twitter{"data-icon" => "&#xea92;", href: "https://twitter.com/cakeisnotreal"}
          %a.facebook{"data-icon" => "&#xeac8;", href:"http://www.linkedin.com/pub/anna-wu/29/618/99b/"}
          %a.medium{"data-icon" => "&#xf23a;", href:"http://medium.com"}
  .footer.l-box.is-center
    %span Made with <3 by
    %a{ href: "http://shinshinwu.github.io", title: "Anna Wu", target: "_blank" }
      Anna Wu


:javascript
  $(function () {
    $("#city-chart").hide();
    $("#company-chart").hide();

    $("#pie-chart-link").hover(function(){
      $("#pie-chart").show();
      $("#city-chart").hide();
      $("#company-chart").hide();
    });

    $("#city-chart-link").hover(function(){
      $("#city-chart").show();
      $("#pie-chart").hide();
      $("#company-chart").hide();
    });

    $("#company-chart-link").hover(function(){
      $("#company-chart").show();
      $("#city-chart").hide();
      $("#pie-chart").hide();
    });

    $('#pie-chart').highcharts({
        chart: {
            plotBackgroundColor: '#F7F7F7',
            plotShadow: false,
            type: 'pie'
        },
        credits: { enabled: false },
        exporting: { enabled: false },
        title: {
            text: 'Female vs. Male Software Engineer Ratio'
        },
        tooltip: {
            pointFormat: 'Percentage: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Percentage',
            colorByPoint: true,
            data: [{
                name: 'Female Engineers',
                y: gon.female_percentage,
                sliced: true,
                selected: true,
                dataLabels: {
                  format: gon.female_engineers_num + ' <b>{point.name}</b><br />{point.percentage:.1f} %'
                }
            }, {
                name: 'Male Engineers',
                y: gon.male_percentage,
                dataLabels: {
                  format: gon.male_engineers_num + ' <b>{point.name}</b><br />{point.percentage:.1f} %'
                }
            }]
        }]
    });

    $('#city-chart').highcharts({
      chart: {
        type: 'column'
      },
      credits: { enabled: false },
      exporting: { enabled: false },
      title: {
        text: 'Top Startup Cities'
      },
      subtitle: {
        text: 'By headquarter location'
      },
      xAxis: {
        categories: gon.hq_names,
        crosshair: true
      },
      yAxis: {
        min: 0,
        title: {
            text: 'Female Engineer Percentage'
        }
      },
      tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
      },
      plotOptions: {
        column: {
          pointPadding: 0.2,
          borderWidth: 0
        },
        series: {
          borderWidth: 0,
          dataLabels: {
            enabled: true,
            format: '{point.y:.0f}'
          }
        }
      },
      series: [{
        name: 'Total number of companies',
        data: gon.count
      }, {
        name: 'Average Female Engineer % in the Area',
        data: gon.hq_female_ratio
      }]
    });

    $('#company-chart').highcharts({
      chart: {
        type: 'column'
      },
      credits: { enabled: false },
      exporting: { enabled: false },
      title: {
        text: 'Top Companies'
      },
      subtitle: {
        text: 'By Female Software Engineer Ratio '
      },
      xAxis: {
        categories: gon.company_names,
        crosshair: true
      },
      yAxis: {
        min: 0,
        title: {
            text: 'Female Engineer Percentage'
        }
      },
      tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.0f}%</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
      },
      plotOptions: {
        column: {
          pointPadding: 0.2,
          borderWidth: 0
        },
        series: {
          borderWidth: 0,
          dataLabels: {
            enabled: true,
            format: '{point.y:.0f}%'
          }
        }
      },
      series: [{
        name: 'Female Engineers Percentage',
        data: gon.female_ratio
      }]
    });
  });