.chart-wrapper
  #map-chart

:javascript
  $(function () {
    $('.chart-wrapper').highcharts({
      chart: {
        type: 'column'
      },
      credits: { enabled: false },
      title: {
        text: 'Top Startup Cities'
      },
      subtitle: {
        text: 'By headquarter location'
      },
      xAxis: {
        categories: gon.hq_names,
        crosshair: true
      },
      yAxis: {
        min: 0,
        title: {
            text: 'Female Engineer Percentage'
        }
      },
      tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
      },
      plotOptions: {
        column: {
          pointPadding: 0.2,
          borderWidth: 0
        },
        series: {
          borderWidth: 0,
          dataLabels: {
            enabled: true,
            format: '{point.y:.0f}'
          }
        }
      },
      series: [{
        name: 'Total number of companies',
        data: gon.count
      }, {
        name: 'Average Female Engineer % in the Area',
        data: gon.hq_female_ratio
      }]
    });
  });