= stylesheet_link_tag    'charts'

.chart-wrapper
  #bar-chart

:javascript
  $(function () {
    $('#bar-chart').highcharts({
      chart: {
        type: 'bar'
      },
      colors: ['#434348', '#00A064'],
      credits: { enabled: false },
      exporting: { enabled: false },
      title: {
        text: 'Startup Cities'
      },
      subtitle: {
        text: 'By headquarter location'
      },
      xAxis: {
        categories: gon.hq_names,
        title: {
          text: null
        }
      },
      yAxis: [{
        min: 0,
        title: {
            text: 'Number of Startup Companies'
        },
        labels: {
          overflow: 'justify'
        },
        opposite: true
      },{
        min: 0,
        max: 80,
        title: {
          text: 'Avg Female Engineer %'
        },
        labels: {
          format: '{value}%'
        }
      }],
      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -40,
        y: 200,
        floating: true,
        borderWidth: 1,
        backgroundColor: '#FFFFFF',
        shadow: true
      },
      plotOptions: {
        bar: {
          dataLabels: {
            enabled: true,
            format: '{point.y:.0f}'
          }
        }
      },
      series: [{
        name: 'Number of Startups in the Area',
        data: gon.count,
        tooltip: {
          pointFormat: '<b>{point.y:.0f} Companies</b>',
          useHTML: true
        }
      }, {
        name: 'Average Female Engineer % in the Area',
        data: gon.hq_female_ratio,
        dataLabels: {
          format: "{y:.0f}%"
        },
        tooltip: {
          pointFormat: '<b>{point.y:.0f}% of Female Engineers</b>',
          useHTML: true
        }
      }]
    });
  });