.pure-g
  .pure-u-1
    %h1.content-head.is-center The Goal
  .pure-u-1.pure-u-md-1-5
  .pure-u-1.pure-u-md-3-5
    %p as;ldjkf;askndf;alksdnfas vjasndf
  .pure-u-1.pure-u-md-1-5

  .pure-u-1
    %h1.content-head.is-center The Inspiration
  .pure-u-1.pure-u-md-1-5
  .pure-u-1.pure-u-md-3-5
    %p as;ldjkf;askndf;alksdnfas vjasndf
  .pure-u-1.pure-u-md-1-5