.pure-g
  .pure-u-1
    %h1.content-head.is-center The Goal
  .pure-u-1.pure-u-md-1-5
  .pure-u-1.pure-u-md-3-5
    %p Software engineering (as matter of fact, most engineering fields) exhibits a notoriously low female engineer ratio. FED <i class="fa fa-code"></i> UP (Female Engineer Disparities) is a portal to present to you the first hand, unaltered results from statistics submitted by users just like you regarding female disparities in software engineering.
    %p
      %a{:href => "companies/new"} Help us
      %span increase awareness regarding the important topic of gender inequality by contributing your company's female/male software engineering ratio today!
  .pure-u-1.pure-u-md-1-5

  .pure-u-1
    %h1.content-head.is-center The Inspiration
  .pure-u-1.pure-u-md-1-5
  .pure-u-1.pure-u-md-3-5
    %p
      %span This project is inspired by Tracy Chou's
      %span
        %a{title: "Gihub repo project", href: "https://github.com/triketora/women-in-software-eng", target: "_blank"}
          Gihub repo project
      %span that she actively maintains. The initial 187 records found on FED <i class="fa fa-code"></i> UP are extracted from the text file that people have contributed to the public repo.
  .pure-u-1.pure-u-md-1-5

  .pure-u-1
    %h1.content-head.is-center How You Can Help
  .pure-u-1.pure-u-md-1-5
  .pure-u-1.pure-u-md-3-5
    %p
      %span By contributing your company's statistics on female and male software engineering ratios! If you don't have a Github account, you can ask one of your company's software engineers or create one at
      %span
        %a{title: "Github",href: "https://github.com/", target: "_blank"}
          Github.
    %p
      %span You can also help to spread the word about this project by mentioning us on
      %a{href: "https://www.facebook.com/sharer/sharer.php?u=fedup.co", target: "_blank"} Facebook,
      %a{href: "https://twitter.com/home?status=Support%20female%20in%20software%20engineering!%20fedup.co%20%23WeAreFEDUP%20%23PledgeForParity", target: "_blank"} Twitter
      and any socia media outlet!
  .pure-u-1.pure-u-md-1-5