/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 //= require pure-min
 //= require grids-responsive-min
 //= require font-awesome
 */


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height:                        1.7em;
    color:                              #7f8c8d;
    font-size:                          16px;
    font-family:                        'BlinkMacSystemFont', 'Helvetica Neue', sans-serif;
}

p {
    font-family:                        'Helvetica Neue', sans-serif;
    text-align:                         center;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color:                              #34495e;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.pure-img-responsive {
    max-width:                          100%;
    height:                             auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding:                            1em;
}

.l-box-lrg {
    padding:                            2em;
    border-bottom:                      1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align:                         center;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin:                             1em 0 0;
    font-weight:                        bold;
    font-size:                          100%;
}

.pure-form #http {
    text-align:                         right;
    margin-top:                         10px;
    margin-right:                       5px;
}

.pure-form #employees {
    margin-top:                         8px;
}

.pure-form legend {
    margin:                             1em 0;
}

.pure-form textarea {
    width:                              100%;
}

.pure-form .pure-button {
    margin-top:                         25px;
}

.pure-form input[type] {
    border:                             2px solid #ddd;
    box-shadow:                         none;
    font-size:                          100%;
    width:                              100%;
    margin-bottom:                      1em;
}

.center {
    display:                            block;
    margin:                             0 auto;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.content .pure-button {
    background-color:                   #00AB6B;
    color:                              white;
    padding:                            0.5em 2em;
    border-radius:                      5px;
    font-weight:                        300;
    margin:                             0 auto;
}

.content .pure-button-primary,
.content a.pure-button-primary {
    background-color:                   #00AB6B;
    color:                              white;
    border-radius:                      5px;
    text-transform:                     uppercase;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding:                            0.5em;
    text-align:                         center;
    box-shadow:                         0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background:                         #FFFFFF;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom:                      none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index:                            4;
}

.home-menu .pure-menu-heading {
    color:                              #404040;
    font-weight:                        400;
    font-size:                          120%;
}

.home-menu .pure-menu-selected a {
    color:                              white;
}

.home-menu a,
.splash-subhead a {
    color:                              #00AB6B;
    font-weight:                        200;
    text-decoration:                    none;
}

.splash-subhead a:hover,
.splash-subhead a:focus,
.home-menu li a:hover,
.home-menu li a:focus {
    background:                         none;
    border:                             none;
    color:                              #AECFE5;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    background:                         #F7F7F7;
    z-index:                            1;
    overflow:                           hidden;
    /* The following styles are required for the "scroll-over" effect */
    width:                              100%;
    height:                             95%;
    top:                                0;
    left:                               0;
    position:                           fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width:                              90%;
    height:                             50%;
    margin:                             auto;
    position:                           absolute;
    top:                                100px;
    left:                               0;
    bottom:                             0;
    right:                              0;
    text-align:                         center;
    text-transform:                     uppercase;
}

.splash ul#nav-section {
    list-style:                         none;
    text-transform:                     none;
    font-weight:                        200;
    text-align:                         left;
    margin-top:                         -75px;
}

.splash ul li {
    display:                            block;
    padding:                            15px 0;
    border-bottom:                      1px solid #DDDDDD;
}

.content a {
    text-decoration:                    none;
    color:                              #00AB6B;
}

.content a:hover,
.content a:focus {
    color:                              black;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color:                              #40405D;
    letter-spacing:                     0.05em;
    opacity:                            0.8;
}

.splash #pie-chart {
    margin-top:                         -120px;
}

.splash #city-chart,
.splash #company-chart {
    margin-top:                         -115px;
}

.splash #city-chart svg,
.splash #company-chart svg {
    width:                              100%;
}
/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
 .content {
    margin-top:                         100px;
 }

 .content .alert {
    text-align:                         center;
    color:                              red;
 }

.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position:                           absolute;
    top:                                87%;
    width:                              100%;
    min-height:                         5%;
    z-index:                            2;
    background:                         white;

}

.content-wrapper .quotes {
    display:                            block;
    text-align:                         center;
    vertical-align:                     middle;
    background-color:                   #5C5C61;
    padding:                            2em 1em;
    color:                              #F7F7F7;
    font-weight:                        200;
    position:                           relative;
    margin:                             0;
}

.content-wrapper .quotes:after {
    content:                            '';
    position:                           absolute;
    border-style:                       solid;
    border-width:                       21px 15px 0;
    border-color:                       #5C5C61 transparent;
    display:                            block;
    width:                              0;
    z-index:                            1;
    bottom:                             -21px;
    left:                               80%;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight:                        400;
    text-transform:                     uppercase;
    letter-spacing:                     0.1em;
    margin:                             2em 0 1em;
}

h1.content-head {
    font-weight:                        200;
    margin:                             1em 0 1em;
}

h3.content-head {
    margin:                             0.5em 0 0.5em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color:                              white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color:                              #00AB6B;
}
    .content-subhead i {
        margin-right:                   7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background:                         #FFFFFF;
    color:                              #aaa;
}

/*twitter and fb share button styles*/
.share-links {
    margin-left:                        25px;
    height:                             150px;
}

.twitter-share-button,
.fb-share-button {
    margin:                             15px 0;
}

.fb-share-button {
    margin-left:                        10px;
}

/* This is the class used for the footer */
.footer {
    margin-top:                         100px;
    background:                         #111;
    color:                              #F7F7F7;
    font-weight:                        200;
}

.footer a {
    text-decoration:                    none;
    color:                              #00AB6B;
}

.footer a:hover {
    text-decoration:                    underline;
}

/*
 * -- MOBILE MEDIA QUERIES --
 */

@media (max-width: 48em) {
    .splash ul#nav-section {
        margin-top:                     -180px;
    }

    .pure-form {
        padding:                        10px;
    }

    .content .pure-button {
        margin-left:                    40px;
    }
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size:                      16px;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align:                     left;
    }
        .home-menu ul {
            float:                      right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width:                          90%;
        height:                         50%;
    }

    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border:                         none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size:                      300%;
    }
}
